{% extends 'core/base.html' %}

{% load humanize %}

{% block content %}
<div class="container">
    <div class="columns">
        <div class="column is-12">
            <div class="wrapper">
                {% for post in posts  %}
                    <div class="post">
                        <article class="media">
                            {% comment %} <figure class ="media-left">
                                <p class="image is-64x64">
                                    {% if post.created_by.provile.avatar %}
                                        <img src="{{ chirp.created_by.birderprofile.avatar.url }}">
                                    {% endif %}
                                </p>
                            </figure> {% endcomment %}

                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>{{ post.created_by.username }}</strong>
                                        <small>{{ post.created_on | naturaltime }}</small>
                                        <br>
                                        {{ post.text }}
                                        <br>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock content %}