{% extends 'core/base.html' %}

{% load humanize %}

{% block content %}
<div class="container">
    <div class="columns">
        <div class="column is-12">
            {% if not user.is_authenticated %}
            <div class="wrapper post media-content content">
                <h3>Want to see who's posting? <a href="{% url 'login' %}">Login</a> or <a href="{% url 'signup' %}">Signup</a> to see usernames</h3
            </div>
            <br>
            {% endif %}
            <div class="wrapper">
                {% for post in posts  %}
                    <div class="post">
                        <article class="media">
                            {% comment %} <figure class ="media-left">
                                <p class="image is-64x64">
                                    {% if post.created_by.provile.avatar %}
                                        <img src="{{ chirp.created_by.birderprofile.avatar.url }}">
                                    {% endif %}
                                </p>
                            </figure> {% endcomment %}

                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        {% if user.is_authenticated %}
                                        <strong>{{ post.post.created_by.username }}</strong>
                                        {% else %}
                                        <strong>Anonymous</strong>
                                        {% endif %}
                                        <small>{{ post.post.created_on | naturaltime }}</small>
                                        <br>
                                        {% for item in post.tagged_text %}
                                            {% if item.tag %}
                                                <a href="{{ item.tag }}">{{ item.text }}</a>
                                            {% else %}
                                                {{ item.text }}
                                            {% endif %}
                                        {% endfor %}
                                        <br>
                                        <hr>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock content %}